body {
  margin: 0px;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(187, 179, 179);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px gray;
}

.navbar > li{
  display: flex;
  align-items: center;
  align-items:center;
}

.buscar{
  background-color: white; 
  border: 1px solid gray;
  padding: 4px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.buscar:focus-within{
  border: 1px solid blueviolet;

}

.buscar > input{
  border: 0px;
  outline: none;
}

.logo {
  height: 100px;
  padding:5px;

}  


.button {
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.button:hover{
  cursor:pointer;
  transform: scale(1.1);
}

.mainButton{
  background-color:yellowgreen;
  color: white;
}

.mainButton:hover{
  box-shadow: 2px 1px green;

} 


.secondaryButton{
  background-color: skyblue;
  color: white;
}

.secondaryButton:hover{
  box-shadow: 2px 1px rgb(0, 174, 255);
}


.iconoBusqueda:hover{
  color: indigo;
}

.contenedorImagen{
  width: 350px;
  height: 240px;
  display: flex;
  margin-bottom: 10px;
}

.contenedorImagen > img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.contenedorImagen:hover{
  cursor:pointer;
  transform: scale(1.1);

}

.breedCardContainer {
  display: flex;
}

.breedCard{
  margin: 10px;
  background-color: gray;
  box-shadow: 5px 5px rgb(196, 195, 195);
  border-radius: 10px;

}

.breedTitle{
  color:white;
  margin: 20px;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.social{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px;
}

.fa-heart{
  color:rgba(255, 0, 0, 0.438);
}

.fa-comment, .fa-eye{
  color:white;
}

.breedCardText{
  color: white;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}
h2{
  text-align: center;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:grey;
  text-transform:uppercase;
}