body {
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding:15px;
}

.mainButton{
    background-color:yellowgreen;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.mainButton:hover{
    cursor:pointer;
    transform: scale(1.1);
    box-shadow: 2px 1px green;
}